.footer{
    padding: 80px 60px;
    background-color: #052542;
    /* position: absolute; */
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}


.join{
    text-align: center;
    float: right;
    position: relative;
    top: -36px;
    /* right: 0; */
    /* margin-right: 40px; */
    /* min-width: 0; */
    /* display: block; */
    box-sizing: border-box;
    font-size: .9em;
    color: #fff;
}

.forum{
    margin-top: 30px;
    padding: 8px 16px;
    /* float: right; */
    display: inline-block;
    border-color: #fff;
    background-color: #fff;
    color: #1bc4d0;
    font-size: 1.3em;
    font-weight: bold;
    word-wrap: break-word;
    white-space: normal;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: linear .1s;
    text-decoration: none;
    box-sizing: border-box;
    /* background: transparent; */
}

.forum:hover, .forum:active {
    background-color: rgb(255, 255, 255);
    color: #10dbea;
  }

  .liste{
      flex-direction: column;
      list-style: none;
  }

  
.footertitleandlist{
float: left;
}


.footertitles{
    /* text-align: left; */
    /* float: left; */
    /* position: relative; */
    /* top: -16px; */
    /* right: 0; */
    /* margin-right: 40px; */
    /* display: block; */
    /* min-width: 0; */
    /* text-transform: uppercase; */   

    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 900;
    font-size: 1em;
    line-height: 1.1em;

    /* başlıkların ikinci satıra geçmemesini sağlıyor, yani aynı satırda "Katkıda Bulunun" gibi */
    white-space: nowrap;
}

.footerlists{
    text-align: left;
    position: relative;
    top: -36px;
    display: block;
    list-style: none;
    padding-left: 1px;
    margin-top: 40px;
}



#footera{
    color: #fff;
    font-size: 0.9em;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1.4em;
    letter-spacing: 0.5px;
    font-weight: 540;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

