body * {
  box-sizing: border-box;
}

.menutitles{
  margin-top: 20px;
  font-size: medium;
  margin-left: -30px;
}

.aboutnav{
  background-color: #04243f;
  height: 7vh;
}


.cursor{
cursor: pointer;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  min-height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 30px;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



.title_logo {
  background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-371-plus-white-0bac34f16124808a12ea863b4d9cc6e599dee7c0a80658cfe9ead26939e64517.svg);
  background-color: transparent;
  font-size: 1.4em;
  position: relative;
  display: inline-flex;
  line-height: inherit;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 300px;
  width: 25px;
  height: 25px;
}

.parag {
  font-size: medium;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.tr {
  margin-left: 20px;
  font-size: medium;
}

.title_search {
  background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-28-search-blue-177462d06db81ff2a02aa022c1c0be5ba4200d7bd3f51091ed9298980e3a26a1.svg);
  background-color: transparent;
  font-size: 1.4em;
  position: relative;
  display: inline-flex;
  line-height: inherit;
  background-position: center center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}